/* ESTILOS GENERALES */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url(./imagenes/image-hero-desktop.webp);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: top; */
}

.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e58411;
  border-bottom: 3px solid #e58411;
}

/* CLASES DE AYUDA */
.wrapper {
  /* width: 1440px; */
  margin: 0 auto;
  width: min(100% - 64px, 1440px);
}

.header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: center;
}

.portada {
  height: 1224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  font-size: large;
  margin-top: 16px;
}

.portada h1 {
  font-weight: 700;
  font-size: 81px;
  text-align: center;
}

.portada p {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #e58411;
}

.portada p span {
  display: block;
}

.portada p strong {
  border-bottom: 3px solid #e58411;
}

/* BUSQUEDA */
.busqueda {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-width: 343px;
  padding: 8px;

  border: 2px solid #e58411;
  background-color: #eae9e5;
  border-radius: 999px;
}

.busqueda input[type="text"] {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px 24px;
  outline: none;
}

.busqueda button {
  background-color: #E58411;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.busqueda input[type="text"]::placeholder {
  color: #8D8D8D;
}

.experiencias {
  display: flex;
  align-items: center;
  gap: 96px;
  padding: 64px 0;
}

.experiencias-contenido {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 574px;
}

.experiencias-contenido h3 {
  text-transform: uppercase;
  color: #e58411;
  font-size: 16px;
}

.experiencias-contenido p {
  font-weight: 600;
  font-size: 16px;
}

.experiencias-contenido a {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;

  font-size: 14px;
  font-weight: 700;
  color: #E58411;
}